:root {
	--light-c: #ffffff;
	--light-disabled-c: #ffffffde;

	--dark-c: #000000de;

	--dangerous-c: #cb3d40;

	--yellow-c: #f4e041;
	--yellow-hover-c: #ffe302;

	--blue-c: #00bdd3;

	--gray-text-c: #7e7e7e;
	--gray-border-c: #d0cfcf;

	--main-bg-c: #f8f8f8;
	--secondary-bg-c: #b4b4b4;

	--border-radius: 5rem;

	--main-transit: 0.2s;
}

html,
body {
	max-width: 100vw;
	min-height: 100%;
	overflow-x: hidden;
}

body {
	color: rgb(var(--dark-c));
	font-size: 1rem;
	line-height: 1.625rem;
	background-color: var(--main-bg-c);
}
