.card {
	max-width: 23.125rem;
	flex: 1 1 auto;
	padding: 1.25rem;
	background-color: var(--light-c);
	border-radius: 0.625rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
	text-wrap: nowrap;
}

.userName {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.info {
	max-width: 100%;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.info > p {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
