.header {
	--gap: clamp(1rem, 6vw, 3.75rem);
	--full: minmax(var(--gap), 1fr);
	--content: min(73.125rem, 100% - var(--gap) * 2);
	--popout: minmax(0, 2rem);
	--feature: minmax(0, 5rem);

	display: grid;
	grid-template-columns:
		[full-start] var(--full)
		[feature-start] var(--feature)
		[popout-start] var(--popout)
		[content-start] var(--content) [content-end]
		var(--popout) [popout-end]
		var(--feature) [feature-end]
		var(--full) [full-end];

	position: fixed;
	width: 100vw;
	height: 3.75rem;
	background-color: var(--light-c);

	z-index: 1;
}

.container {
	grid-column: content;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

.wrapperButtons {
	display: flex;
	gap: 0.625rem;
}

@media (max-width: 768px) {
	.header {
		--gap: clamp(1rem, 4.4vw, 2rem);
	}
}
